.Main {
    margin: 10px 5%;
}

.connectionBox {
    width: 70%;
    min-height: 70px;
    margin: 0 auto;
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 1px 2px 3px grey;
    text-decoration: none;
    position: relative;
    padding: 10px;
}

.label {
    color: rgb(0, 101, 255);
    position: absolute;
    top: 30%;
    font-size: 150%;
    font-weight: bold;

/*    text-align: center;
    vertical-align: middle;*/

}

.header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

.headerLabel {
    padding: 0;
    font-size: 40px;
    font-weight: bold;
}

.underlinenone {
    text-decoration-line: none;
}