.Main {
    display: flex;
    flex-direction: column;
}

.Main > div {
    display: flex;

}

.Main > div > :first-of-type {
    width: 50%;
    text-align: right;
    color: rgb(107, 119, 140);
    font-size: small;
    margin-top: 2%;


}