.Main {
    margin: 10px 5%;
}

.Header {
    margin: 0;
    color: rgb(23, 43, 77);
    font-weight: bold;
    font-size: large;
}

.ButtonGroup {
    display: inline;
}

.HeaderFlex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}